.dashboard {
  padding: 1.6rem;
  background-color: #ebf6fa;

  &__title {
    margin: 0rem 0 1rem 0;
    font-size: 2.3rem;
    font-weight: 600;
  }

  &__tracker {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008aa0;
    border-radius: 50px;
    // box-shadow: 3px 3px 10px #008aa0;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: background-color 1s;

    &:hover {
      background-color: #026473;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
  }

  &__button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__logout {
    all: unset;
    background-color: #ed5145;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    font-size: 1rem;
  }
}

.report {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 1.6rem 1.6rem 1.6rem;
  border-radius: 5px;
  // box-shadow: 5px 5px 10px rgba($color: #7fd6cb, $alpha: 1);
  margin-bottom: 2.4rem;

  &__title {
    margin: 2rem 0;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__container {
    display: flex;
    width: 100%;
  }

  &__header {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
  }

  &__wrapper {
    padding: 1rem 0.5rem;
    margin-right: 1rem;
    width: 33%;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba($color: #008aa0, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;

    &--right {
      margin-right: 0;
    }
  }

  &__average {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1rem;
  }

  &__moods {
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0.2rem;
  }

  &__event {
    text-align: center;
    font-size: 1.2rem;
  }

  &__icon {
    height: 3.2rem;
  }
}

.react-calendar {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #7fd6cb !important;

  &__navigation {
    width: 100%;
  }

  &__navigation__label {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.3rem;
  }

  &__tile {
    font-family: "Montserrat";

    &:disabled {
      background-color: rgba($color: #40b7be, $alpha: 0.2) !important;
    }

    &--active {
      background-color: #ffa62b !important;
      transition: background-color 1s;

      &:hover {
        background-color: #e39527 !important;
      }
    }

    &:enabled {
      transition: background-color 1s;

      &:hover {
        background-color: #40b7be !important;
      }
    }
  }

  &__month-view__weekdays__weekday {
    font-family: "Montserrat";
    font-weight: 600;
  }

  &__month-view__weekdays {
    text-transform: capitalize !important;
    text-decoration: none !important;
  }
}

.dayLog {
  margin: 1.6rem 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 1.2rem 1.2rem 1.2rem;

  &__container {
    display: flex;
  }

  &__title {
    text-align: center;
  }
  &__button {
    background-color: #008aa0;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: background-color 1s;

    &:hover {
      background-color: #026473;
    }
  }

  &__text {
    margin-bottom: 0;
  }
}

.calendar {
  &__title {
    margin: 3rem 0 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 1.4rem;
  }
}

.userconnections {
  margin-bottom: 2.4rem;
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    height: 2rem;
  }

  &__title {
    margin-right: 0.8rem;
    font-size: 2rem;
    font-weight: 600;
  }

  &__card {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.2rem;
  }

  &__text {
    margin: 1rem 1rem;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
  }
}
