@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Fonts/MontserratAlternates-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Fonts/MontserratAlternates-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Fonts/MontserratAlternates-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../assets/Fonts/MontserratAlternates-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
