$tablet-breakpoint: 768px;
$desktop-breakpoint: 1279px;
$desktop-max-width: 1020px;

$page-padding: 1.6rem;

$primary-colour: #7fd6cb;
$secondary-colour: #40b7be;
$third-colour: #008aa0;
$accent-colour-one: #ffa62b;
$accent-colour-two: #ed5145;
$background-colour: #ebf6fa;
