@use "../../styles/partials/variables" as *;

.tracker {
  padding: $page-padding;
  background-color: $background-colour;

  &__title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
    font-weight: 600;
  }

  &__subtitle {
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-bottom: 2.4rem;
  }

  &__container {
    background-color: white;
    padding: $page-padding;
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;
    border-radius: 5px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__grade {
    font-size: 0.8rem;
  }

  &__label {
    margin-bottom: 1.2rem;
  }

  &__option {
    font-family: "Montserrat";
    text-transform: capitalize;
    padding: 1rem;
    border: 2px solid #ffa62b;
    border-radius: 5px;
  }

  &__text {
    font-family: "Montserrat";
    text-transform: capitalize;
    padding: 1rem;
    border: 2px solid #ffa62b;
    border-radius: 5px;
  }

  &__button {
    all: unset;
    padding: 1rem 0;
    background-color: #008aa0;
    width: 100%;
    border-radius: 50px;
    color: white;
    text-align: center;
  }

  &__error {
    color: $accent-colour-two;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

input[type="radio"] {
  appearance: none;
  background-color: transparent;
  margin: 0 auto;
  border: 3px solid $accent-colour-one;
  border-radius: 50%;
}
input[type="radio"] {
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $accent-colour-one;
}
input[type="radio"]:checked::before {
  transform: scale(1);
}
