@use "../../styles/partials/variables" as *;

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-colour;
  padding: 1.2rem 2rem;

  &__link {
    text-decoration: none;
    color: white;
    margin-right: 1rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;

  &__link {
    text-decoration: none;
    color: white;
    padding: 1rem;
    background-color: $secondary-colour;
    border-radius: 50px;
    text-align: center;
    font-size: 1.2rem;

    &--signup {
      margin-left: 1rem;
      background-color: $third-colour;
    }
  }
}
