@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-color: #008aa0;
  padding: 1.6rem;

  @include tablet {
    padding: 2.4rem;
  }

  &__title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid white;
    width: 3rem;

    @include tablet {
      font-size: 3rem;
    }
  }

  &__social {
    margin-top: 1.6rem;
  }

  &__icon {
    height: 2rem;
    margin-right: 0.8rem;

    @include tablet {
      height: 3rem;
    }
  }

  &__rights {
    color: white;
    font-size: 1rem;

    @include tablet {
      font-size: 1.5rem;
    }
  }
}
